Repository MythTV/mythtv, pull requests merged in 2021-09, with the labels that each got.

#382 Fixes and build script to cross compile mythtv for Windows
  mythtv/external/libmythdvdnav/dvdread/dvd_input.c
  mythtv/libs/libmyth/libmyth.pro
  mythtv/libs/libmythbase/compat.h
  mythtv/libs/libmythbase/libmythbase.pro
  mythtv/libs/libmythbase/mythcommandlineparser.cpp
  mythtv/libs/libmythbase/mythmiscutil.cpp
  mythtv/libs/libmythbase/mythmiscutil.h
  mythtv/libs/libmythbase/mythsystemlegacy.cpp
  mythtv/libs/libmythbase/mythsystemwindows.cpp
  mythtv/libs/libmythmetadata/libmythmetadata.pro
  mythtv/libs/libmythtv/captions/xine_demux_sputext.cpp
  mythtv/libs/libmythtv/decoders/avformatdecoder.cpp
  mythtv/libs/libmythtv/libmythtv.pro
  mythtv/libs/libmythtv/mythvideooutgpu.cpp
  mythtv/libs/libmythui/libmythui.pro
  mythtv/libs/libmythui/mythmainwindow.cpp
  mythtv/libs/libmythui/platforms/mythdisplaywindows.cpp
  mythtv/libs/libmythupnp/msocketdevice_win.cpp
  mythtv/programs/mythbackend/encoderlink.cpp
  mythtv/programs/mythbackend/main.cpp
  mythtv/programs/mythbackend/services/channel.cpp
  mythtv/programs/mythbackend/services/serviceUtil.cpp
  mythtv/programs/programs-libs.pro
  mythtv/programs/programs.pro
  mythtv/settings.pro
  platform/win32/w64-mingw32/Installer/1 Install Mythtv.cmd
  platform/win32/w64-mingw32/Installer/2 Run MythFrontend & Backend.cmd
  platform/win32/w64-mingw32/Installer/Run MythFrontend.cmd
  platform/win32/w64-mingw32/Installer/Run MythTv Setup.cmd
  platform/win32/w64-mingw32/MythBuild_MXE.sh
  platform/win32/w64-mingw32/Patches/libexiv2.patch
Labels: version:master, ports:windows

#377 Add optional metadata grabber for television: ttvdbv4
  mythtv/bindings/python/setup.py
  mythtv/bindings/python/ttvdbv4/__init__.py
  mythtv/bindings/python/ttvdbv4/definitions.py
  mythtv/bindings/python/ttvdbv4/get_api_v4.py
  mythtv/bindings/python/ttvdbv4/locales.py
  mythtv/bindings/python/ttvdbv4/myth4ttvdbv4.py
  mythtv/bindings/python/ttvdbv4/ttvdbv4_api.py
  mythtv/bindings/python/ttvdbv4/utils.py
  mythtv/programs/scripts/metadata/Television/ttvdb4.ini
  mythtv/programs/scripts/metadata/Television/ttvdb4.py
  mythtv/programs/scripts/metadata/Television/ttvdb4_doctests
Labels: version:master, component:bindings:python, component:mythtv:metadata

#385 Merge ReinitDone into Init
  mythtv/libs/libmythui/mythmainwindow.cpp
  mythtv/libs/libmythui/mythmainwindow.h
  mythtv/programs/mythfrontend/main.cpp
  mythtv/programs/mythscreenwizard/main.cpp
  mythtv/programs/mythtv-setup/main.cpp
Labels: version:master, bug:general, component:mythtv:playback
